.container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline {
  margin: 50px auto;
  width: 50%;
}

.filter button {
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.home button{
  margin: 60px auto;
  border-radius: 10px;
  padding: 12px;
  background-color: rgb(160, 160, 224);
  display: block
  

}
.home button:hover{
  background-color: aliceblue;
  cursor: pointer;
}

.home img{
  margin-top: 40px;
  width: 25rem;
  border-radius: 5px;
  margin-bottom: 50px;
}

.home a{
  padding: 10px;
}

