:root {
  --dark-violet: rgb(69,71,96);
  --grey-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grey-violet: hsl(273, 4%, 51%);
  --light-grey: hsl(0, 0%, 98%);
  --white: #fff;
  --fw-700: 700;
  --fw-400: 400;
}
