.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
  
  background: url('../../assets/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.map-container:before {
  content: '';
  display: block;
  padding-top: 40%;
}
